In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
%matplotlib notebook

In [3]:
# open file
filename = "incomes.csv"

with open(filename, "r") as fobj:
    contents = fobj.read()

print(contents)

Income
14.891
106.025
104.593
148.924
55.882
80.18
20.996
71.408
15.125
71.061
63.095
15.045
80.616
43.682
19.144
20.089
53.598
36.496
49.57
42.079
17.7
37.348
20.103
64.027
10.742
14.09
42.471
32.793
186.634
26.813
34.142
28.941
134.181
31.367
20.15
23.35
62.413
30.007
11.795
13.647
34.95
113.659
44.158
36.929
31.861
77.38
19.531
44.646
44.522
43.479
36.362
39.705
44.205
16.304
15.333
32.916
57.1
76.273
10.354
51.872
35.51
21.238
30.682
14.132
32.164
12
113.829
11.187
27.847
49.502
24.889
58.781
22.939
23.989
16.103
33.017
30.622
20.936
110.968
15.354
27.369
53.48
23.672
19.225
43.54
152.298
55.367
11.741
15.56
59.53
20.191
48.498
30.733
16.479
38.009
14.084
14.312
26.067
36.295
83.851

In [4]:
with open(filename, "r") as fileObj:
    for line in fileObj:
        print(line)

Income

14.891

106.025

104.593

148.924

55.882

80.18

20.996

71.408

15.125

71.061

63.095

15.045

80.616

43.682

19.144

20.089

53.598

36.496

49.57

42.079

17.7

37.348

20.103

64.027

10.742

14.09

42.471

32.793

186.634

26.813

34.142

28.941

134.181

31.367

20.15

23.35

62.413

30.007

11.795

13.647

34.95

113.659

44.158

36.929

31.861

77.38

19.531

44.646

44.522

43.479

36.362

39.705

44.205

16.304

15.333

32.916

57.1

76.273

10.354

51.872

35.51

21.238

30.682

14.132

32.164

12

113.829

11.187

27.847

49.502

24.889

58.781

22.939

23.989

16.103

33.017

30.622

20.936

110.968

15.354

27.369

53.48

23.672

19.225

43.54

152.298

55.367

11.741

15.56

59.53

20.191

48.498

30.733

16.479

38.009

14.084

14.312

26.067

36.295

83.851

In [5]:
# data frame
df = pd.read_csv("incomes.csv")

In [6]:
# get descriptive statistics
df.describe()

           Income
count  100.000000
mean    43.227420
std     33.815517
min     10.354000
25%     20.099500
50%     32.966500
75%     53.509500
max    186.634000

In [7]:
df['Income'].min()

10.354000000000001

In [8]:
df['Income'].max()

186.63400000000001

In [9]:
df['Income'].sum()

4322.741999999999

In [10]:
df

     Income
0    14.891
1   106.025
2   104.593
3   148.924
4    55.882
5    80.180
6    20.996
7    71.408
8    15.125
9    71.061
10   63.095
11   15.045
12   80.616
13   43.682
14   19.144
15   20.089
16   53.598
17   36.496
18   49.570
19   42.079
20   17.700
21   37.348
22   20.103
23   64.027
24   10.742
25   14.090
26   42.471
27   32.793
28  186.634
29   26.813
..      ...
70   24.889
71   58.781
72   22.939
73   23.989
74   16.103
75   33.017
76   30.622
77   20.936
78  110.968
79   15.354
80   27.369
81   53.480
82   23.672
83   19.225
84   43.540
85  152.298
86   55.367
87   11.741
88   15.560
89   59.530
90   20.191
91   48.498
92   30.733
93   16.479
94   38.009
95   14.084
96   14.312
97   26.067
98   36.295
99   83.851

[100 rows x 1 columns]